header {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.767);
    border-radius: 1%;
    background-color: #393e46;
    border: solid 1px rgb(31, 31, 31);
}

.header_p {
    margin-right: 3%;
    height: 7vh;
    font-family: "regular_roboto";
    text-decoration: none;
    color: rgb(217, 165, 22);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.39);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.500), 0 0 1em rgba(0, 0, 0, 0.500), 0 0 0em rgba(0, 0, 0, 0.500);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 13%;
    transition: 0.7s;
    font-size: 115%;
    padding: 0.1%;
    border: solid 2px rgb(31, 31, 31);
    background-color: #404650;
}

.header_p:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.main_container {
    margin-top: 1%;
    padding-top: 1%;
    width: 100%;
    height: 130vh;
    /* border: solid brown 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #393e46;
    border-radius: 1%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.767);
    border: solid 1px rgb(31, 31, 31);
}

.user_info_container {
    /* border: solid 1px brown; */
    width: 48%;
    height: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 3px 5px rgba(5, 5, 5, 0.452);
    border: solid 1px rgb(31, 31, 31);
    border-radius: 1%;
}

.user_card {
    width: 48%;
    height: 95%;
    /* border: solid 1px brown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "regular_roboto";
    background-color: #404650;
    border: solid 1px rgb(31, 31, 31);
    border-radius: 1%;
}

.user_image {
    border-radius: 50%;
    width: 61%;
    height: 45%;
    border: solid 1px rgb(31, 31, 31);
    /* border-style: inset; */
}

.username {
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 150%;
    color: #bbbbbb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.750), 0 0 1em rgba(0, 0, 0, 0.750), 0 0 0em rgba(0, 0, 0, 0.750);
}

.user_description {
    height: 15%;
    font-size: 110%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
    overflow: auto;
    color: #bbbbbb;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.750), 0 0 1em rgba(0, 0, 0, 0.750), 0 0 0em rgba(0, 0, 0, 0.750); */
}

.user_stats {
    width: 48%;
    height: 95%;
    background-color: #404650;
    border: solid 1px rgb(31, 31, 31);
    border-radius: 1%;
    color: #bbbbbb;
    font-family: "regular_roboto";
}

.user_stats_title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.750), 0 0 1em rgba(0, 0, 0, 0.750), 0 0 0em rgba(0, 0, 0, 0.750);
    text-align: center;
    font-size: 200%;
    margin-bottom: 15%;
}

.user_stats_content {
    font-size: 131%;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.750), 0 0 1em rgba(0, 0, 0, 0.750), 0 0 0em rgba(0, 0, 0, 0.750);
}

.user_stats_values {
    font-size: 135%;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.750), 0 0 1em rgba(0, 0, 0, 0.750), 0 0 0em rgba(0, 0, 0, 0.750);
    font-weight: bold;
    color: rgb(206, 205, 205);
}

.fav_games_container {
    width: 48%;
    height: 48%;
    border: solid 1px rgb(31, 31, 31);
    border-radius: 1%;
    background-image: url(../../ressources/png/underconstruction.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    box-shadow: 1px 3px 5px rgba(5, 5, 5, 0.452);
}

.gamelist_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    height: 48%;
    border: solid 1px rgb(31, 31, 31);
    font-family: "regular_roboto";
    box-shadow: 1px 3px 5px rgba(5, 5, 5, 0.452);
    padding-bottom: 0.5%;
    padding-right: 0.5%;
    padding-left: 0.5%;
    border-radius: 1%;
    /* background-color:  #454a53; */
}

.gamelist_title {
    flex-basis: 100%;
    /* border: solid 1px black ; */
    height: 10%;
    text-align: center;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.750), 0 0 1em rgba(0, 0, 0, 0.750), 0 0 0em rgba(0, 0, 0, 0.750);
}

.plateform_container {
    flex-basis: 19%;
    height: 75%;
    /* box-shadow: 1px 3px 5px rgba(5, 5, 5, 0.521); */
    border-radius: 1%;
    background-color: #404650;
    border: solid 1px rgb(31, 31, 31);
}

.constructor_title {
    font-size: 180%;
    text-align: center;
    /* border: solid 1px black ; */
    height: 9%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bbbbbb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.750), 0 0 1em rgba(0, 0, 0, 0.750), 0 0 0em rgba(0, 0, 0, 0.750);
}

.generations_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    height: 70%;
    width: 95%;
    /* border: 1px black solid; */
}

.generation {
    margin-top: 5%;
    font-size: 130%;
    text-decoration: none;
    color: rgb(217, 165, 22);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.39);
    border-radius: 10%;
    padding: 2%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.500), 0 0 1em rgba(0, 0, 0, 0.500), 0 0 0em rgba(0, 0, 0, 0.500);
    transition: 0.7s;
    /* border: solid 1px rgb(31, 31, 31); */
}

.generation:hover {
    transform: scale(1.05);
    transition: 0.7s;
}


body {
    /* background: linear-gradient(rgb(250, 122, 18), rgba(255, 82, 2, 0.336)); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #222831;
}

@font-face {
    font-family: "regular_roboto";
    src: url(../../ressources/fonts/Regular.ttf);
}

/* responsive */

@media only screen and (max-width: 1345px) {
    .header_p {
        font-size: 100%;
    }
}

@media only screen and (max-width: 1330px) {
    .user_description {
        height: 20%;
    }
}

@media only screen and (max-width: 1175px) {
    .header_p {
        font-size: 95%;
    }
}

@media only screen and (max-width: 1118px) {
    .header_p {
        font-size: 90%;
    }

    .user_info_container {
        width: 49%;
    }

    .fav_games_container {
        width: 49%;
    }

    .generation {
        font-size: 115%;
    }
}

@media only screen and (max-width: 1060px) {
    .header_p {
        font-size: 85%;
    }
    .generation {
        font-size: 100%;
    }
}

@media only screen and (max-width: 1010px) {
    .header_p {
        flex-basis: 16%;
        font-size: 90%;
    }
    .generation {
        font-size: 90%;
    }
}

@media only screen and (max-width: 945px) {
    .main_container {
        display: flex;
        height: 341vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user_info_container{
        height: 65vh;
        width: 85%;
        /* margin-top: -5%; */
    }

    .fav_games_container{
        height: 65vh;
        width: 85%;
        margin-top: 1.5%;
    }

    .gamelist_title {
        height: 5%;
    }

    .gamelist_container {
        height: 200vh;
        width: 85%;
        margin-top: 1.5%;
        justify-content: space-around;
        align-items: center;
    }

    .plateform_container {
        height: 50vh;
        flex-basis: 40%;
    }

    .generation {
        width: 60%;
        display: flex;
        justify-content: center;
        font-size: 115%;
    }
    header {
        height: 20vh;
        justify-content: center;
    }
    .header_p {
        height: 10vh;
        flex-basis: 20%;
        font-size: 115%;
    }
}
@media only screen and (max-width: 890px) {
    .header_p {
        flex-basis: 22%;
        margin: 0%;
    }
    header {
        justify-content: space-around;
    }
}
@media only screen and (max-width: 810px) {
    header {

    }
    .header_p {
        
    }
}