header {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 6vh;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.767);
    border-radius: 1.5%;
    background-image: url(../../ressources/png/foxjourneymemorieslogo.png);
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: 55%;
    background-size: 2.4%;
    background-color: white;
}

.header_p {
    margin-right: 4%;
    height: 3vh;
    font-family: "regular_roboto";
    text-decoration: none;
    color: rgb(37, 37, 37);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.397);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    font-size: 2vh;
    transition: 0.7s;
}

.header_p:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.main_container {
    margin-top: 1%;
    padding-top: 1%;
    width: 100%;
    height: 130vh;
    /* border: solid brown 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    border-radius: 1%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.767);
}

.user_info_container {
    border: solid 1px brown;
    width: 48%;
    height: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.user_card {
    width: 48%;
    height: 95%;
    border: solid 1px brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "regular_roboto";
}

.user_image {
    border-radius: 50%;
    width: 61%;
    height: 45%;
    border-style: inset;
}

.username {
    width: 100%;
    height: 7%;
    text-align: center;
    font-size: 180%;
    color: rgb(37, 37, 37);
}

.user_description {
    height: 22%;
    font-size: 140%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: justify;
    overflow: auto;
    color: rgb(37, 37, 37);
}

.user_stats {
    width: 48%;
    height: 95%;
    border: solid 1px brown; 
}

.fav_games_container {
    width: 48%;
    height: 48%;
    border: solid 1px brown;
}

.gamelist_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95%;
    height: 48%;
    border: solid brown 1px;
    font-family: "regular_roboto";
}

.gamelist_title {
    flex-basis: 100%;
    border: solid 1px black ;
    height: 10%;
    text-align: center;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 37, 37);
}

.plateform_container {
    flex-basis: 19%;
    height: 75%;
    border: solid 1px black ;
}

.constructor_title {
    font-size: 180%;
    text-align: center;
    border: solid 1px black ;
    height: 9%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(37, 37, 37);
}

.generations_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    height: 70%;
    border: 1px black solid;
}

.generation {
    margin-top: 5%;
    font-size: 130%;
    text-decoration: none;
    color: rgb(37, 37, 37);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.39);
    border-radius: 10%;
    padding: 2%;
}


body {
    background: linear-gradient(rgb(250, 122, 18), rgba(255, 82, 2, 0.336));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: "regular_roboto";
    src: url(../../ressources/fonts/Regular.ttf);
}