.list_container {
    width: 85%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 5%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.767);
    margin-top: 1%;
    font-family: "regular_roboto";
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}

h1 {
    flex-basis: 30%;
    color: rgb(37, 37, 37);
}

.game_add {
    flex-basis: 20%;
    color: rgb(207, 93, 17);
    font-size: 115%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.363);
    border-radius: 5%;
    transition: 0.7s;
    cursor: pointer;
    text-decoration: none;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games_array {
    border: rgb(37, 37, 37) solid 2px;
    border-radius: 0.5% 5% 5% 5%;
    width: 99%;
    height: 80%;
    color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    margin-bottom: 2%;
}

.array_content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: solid black 1px; */
    flex-wrap: wrap;
}

.array_title {
    flex-basis: 33.33%;
    font-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgb(250, 122, 18), rgba(255, 82, 2, 0.336));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: "regular_roboto";
    src: url(../../ressources/fonts/Regular.ttf);
}